= semantic_form_for @search, :url => root_url, :method => :get do |form|

  = form.inputs 'Filter positions by...' do

    = form.input :team_ids, :label => 'On teams', :as => :check_boxes, :collection => Team.all
    = form.input :tags, :label => 'Tagged with', :as => :check_boxes, :collection => Position.tag_options.map { |i| [i.titleize, i] }


  = form.buttons do
    = form.commit_button 'Filter positions'