%article#position
  %h1
    %span.team-name #{@team.name}:
    = @position.title
  
  %p#quick-links
    = link_to 'Apply for this position', [:apply, @position]
    or
    = link_to 'View as a PDF', position_path(@position, :format => 'pdf')
  
  %p#short-description= @position.short_description
    

  %section#position-general-description
    %h2 About this Position
    .embedded-content= @position.general_description_as_html

  %section#position-position-description
    %h2 What would I be doing?
    .embedded-content= @position.position_description_as_html

  %section#position-applicant-description
    %h2 Who should apply?
    .embedded-content= @position.applicant_description_as_html

  %section#position-extra
    %h2 A little bit extra
    %dl#position-details
      %dt How long is this position for?
      %dd= @position.duration
      %dt Expected time per week:
      %dd= "%0.02f hours" % @position.time_commitment
      %dt Type of position:
      %dd
        - if @position.paid?
          %p This is a paid position.
          = @position.paid_description_as_html
        - else
          %p This is a volunteer position.