%article#position
  %h1
    = link_to "#{@team.name}:", @team.website_url, :class => 'team-name', :target => '_blank'
    %span.position-name= @position.title

  = partial 'quick_links'

  %p#short-description= @position.short_description


  %section#position-general-description
    %h2 About this Position
    .embedded-content= @position.general_description_as_html

    %section#position-details
      %dl
        %dt Contact email:
        %dd
          %p
            #{email_for @position, :subject => "Re. #{@team.name} - #{@position.title}"}
            %span.no-print - Please note that to apply for this position, you should use the link above.
      %dl.last
        %dt How long is this position for?
        %dd
          %p= @position.duration
      %dl
        %dt Expected time per week:
        %dd
          %p
            #{@position.human_time_commitment}
            - if @position.time_commitment_flexibility.present?
              (#{@position.time_commitment_flexibility})
      %dl.last
        %dt Type of position:
        %dd
          - if @position.paid?
            %p This is a paid position.
            = @position.paid_description_as_html
          - else
            %p This is a volunteer position.


  %section#position-position-description
    %h2 What would I be doing?
    .embedded-content= @position.position_description_as_html

  %section#position-applicant-description
    %h2 Who should apply?
    .embedded-content= @position.applicant_description_as_html

  %p#view-online.print-only
    Apply online at #{request.host}
    - if @position.expires_at.present?
      \- Applications close #{l @position.expires_at, :format => :long}

  %h2.no-print Interested?
  = partial 'quick_links'
