%li.question-form
  = question_form.hidden_field :order_position, :class => 'question-order-position', :id => nil
  = question_form.hidden_field :question_id, :class => 'question-question-id', :id => nil
  - unless question_form.object.new_record?
    = question_form.hidden_field :id, :class => 'question-id', :id => nil
    = question_form.hidden_field :_destroy, :class => 'question-remove'
  %span.question-question
    %span.ui-icon.ui-icon-grip-dotted-vertical
    = question_form.object.question.try(:short_name)
  = link_to '(remove)', '#', :class => 'question-remove-button'

  = question_form.select :required, [["Use default required", nil], ["Always required", true], ["Never required", false]], {}, :class => 'question-required'