%h2.title Viewing all #{current_resource_name.pluralize}

= will_paginate collection

%table
  %thead
    %tr
      %th Title
      %th Current Status
      %th &nbsp;
  %tbody
    - collection.each do |r|
      %tr{:class => cycle('odd', 'even')}
        %td= link_to r.title, [:admin, r]
        %td= r.human_status
        %td.actions
          = individual_resource_links r, :at => :after do
            = ml 'Clone', [:clone_position_admin, r]
    = empty_row_for_collection 2

= will_paginate collection