- content_for :sidebar_menu_end do
  = ml 'Clone this position', [:clone_position_admin, resource]

%h2.title Viewing Position: #{h resource.title}

= show_for resource do |r|

  = r.attribute :title

  = r.attribute :public_link do
    = link_to 'Click here', resource
    - unless resource.viewable?
      \-
      %strign Please note,
      This position is not currently viewable to normal visitors.

  = r.attribute :status

  = r.attribute :short_description, :label => 'Brief Description' do
    .content-preview= resource.short_description

  = r.association :team do
    = link_to resource.team.name, [:admin, resource.team]

  = r.association :contact_emails, :if_blank => "None currently assigned." do |email|
    %li= mail_to email, email, :subject => "Re. #{resource.title}"

  = r.association :tags do |tag|
    %li= tag.name


%h3 Position Commitment

= show_for resource do |r|

  = r.attribute :duration, :label => 'How long will this position go on for?'

  = r.attribute :time_commitment, :label => 'What is the weekly time commitment for this position?'

  = r.attribute :time_commitment_flexibility, :label => 'How flexibile is the weekly time commitment?'

%h3 Paid Position Details

= show_for resource do |r|

  = r.attribute :paid, :label => 'Is this a paid position?'

  - if resource.paid?

    = r.attribute :paid_description, :label => 'What is the pay like?' do
      .content-preview= resource.short_description

%h3 Position Descriptions

= show_for resource do |r|

  = r.attribute :general_description, :label => 'General Details' do
    .content-preview= resource.general_description_as_html

  = r.attribute :position_description, :label => 'What would I be doing?' do
    .content-preview= resource.position_description_as_html

  = r.attribute :applicant_description, :label => 'Who should apply?' do
    .content-preview= resource.applicant_description_as_html

%h3 Position Questions

%ul#position-questions
  - if resource.position_questions.empty?
    %li.empty This position currently has no associated questions.
  - resource.position_questions.ordered.each do |position_question|
    %li
      = link_to position_question.question.question, [:admin, position_question.question]
      - if !position_question.required.nil?
        - if position_question.required
          %span.required.required-state Required.
        - else
          %span.not-required.required-state Not required.
      - else
        %span.default-required.required-state Using default required.

- if resource.applications.present?

%h3 Position Applications
%p
  Want to get all as a PDF?
  = link_to 'Click here', admin_position_position_applications_path(resource, :format => 'pdf')
= show_for resource do |r|
  = r.association :applications, :if_blank => "None received so far." do |app|
    %li= link_to "Application received #{l app.created_at, :format => :short} for #{app.full_name}", [:admin, resource, app]

= partial 'application_form'
