- content_for :sidebar do

  %h2 Menu
  = sidebar_menu do
    = ml "View Position", [:admin, @position]
    = ml "View Team",     [:admin, @position.team]
    = ml "View as PDF",     printable_admin_position_position_application_path(@position, resource, :format => 'pdf')

%h2.title Viewing Application for #{link_to @position.title, [:admin, @position]}

= show_for resource do |r|
  = r.attribute :full_name
  = r.attribute :email_address do
    = mail_to resource.email_address, resource.email_address, :subject => "Re. your application for #{@position.title} on #{@position.team.name}"
  = r.attribute :phone
  = r.association :position do
    = link_to @position.title, [:admin, @position]
    on
    = link_to @position.team.name, [:admin, @position.team]
  = r.attribute :created_at, :label => "Received at" do
    = l resource.created_at, :format => :short

%h2 Application Details

- answers = resource.answers
= show_for answers  do |r|
  - answers.each_question do |question, key|
    = r.attribute key, :label => question.question