%h1
  %a{:href => "/"} Useful Inc.
  
%nav#site-navigation
  %ul
    %li
      %a{:href => "#"} Contact Us
    %li
      %a{:href => "#"} Partners
      %ul
        = ml "ZettaGrid", '#'
        = ml "Caimes Web", '#'
        = ml "The Frontier Group", '#'
    %li
      %a{:href => "#"} Get Involved
      %ul
        = ml "Sign up for a Position", '#'
        = ml "Be Awesome", '#'
    %li
      %a{:href => "/general"} About
      %ul
        = ml "What We Do", '#'
        = ml "Mission And Vision", '#'
        = ml "People", '#'
        = ml "History", '#'
