!!! 5
- ie_html :lang => 'en', :class => 'no-js' do

  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %title= page_title
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = javascript_include_tag 'vendor/modernizr'
    = stylesheet_link_tag :all
    = csrf_meta_tag

  %body
    = yield
    = javascript_include_tag :defaults
