!!!
- ie_html :lang => 'en', :class => 'no-js' do

  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %title= page_title
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = javascript_include_tag 'vendor/modernizr'
    = include_stylesheets(:base, :media => 'screen, projection')
    = include_stylesheets(:base_print, :media => 'print')
    = csrf_meta_tag
    = extra_head_content
  %body
    = from_radiant :network
    #container
      %header#page-header= from_radiant :header
      = flash_messages :alert, :notice
      %section#content= yield
      %footer#page-footer= from_radiant :footer
      / JS at the bottom for speedy load times
      = include_javascripts :base
      /[if IE 6]
        = include_javascripts :ie6
      = extra_footer_content